
$font-family: 'Roboto';
$width: 100%;

.body{
  background-color: #37447E;
}
.cont1 {
  display: flex;
  position: relative;
  justify-content: end;
}
.header{
  width: $width;
}
.cont2{
  width: 13%;
  font-weight: 400px;
font-size: 16px;
justify-content: space-between;
}
.link1{
  color: #505F98;
  font-family: $font-family;
}
.link2{
  color: #37447E;
  font-family: $font-family;
font-style: normal;
font-weight: 900;
font-size: 26px;
}
.box1 {
  width: $width;
  margin-top: -800px;
  justify-content: center;
  position: absolute;
}
.box {
  width: $width;
  margin-top: -900px;
  display: flex;
  align-items: flex-end;
  position: absolute;
  justify-content: space-around;
}
 .img1 {
  height: 928px;
width: 1193px;
border-radius: 0px;
}
.part1 {
  width: 540px;
  margin-left: -600px;
    margin-top: 200px;
}
.btn {
background: #111B47;
border-radius: 2px;
height: 26px;
width: 160px;
color: white;
font-size: 14px;
font-family: $font-family;
text-decoration:none;
}
.btnw {
    background: #f0f0f0bb;;
    font-size: 12px;
    text-align: center;
    color: #091133;
    border: 2px solid #091133;
border-radius: 2px;
  }
.textbox11 {
  height: 132px;
  margin-top: 10px

}
.textbox12 {
  height: 164px;
width: 450px;

}
.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
}

@media screen and (max-width: 768px) { 
 .cont2 {
  width: 50%;
 }
.box {
  flex-direction: column;
    align-items: center;
}
.box1 {
  justify-content: center;
  margin-top: -500px;
}
.part1{
  margin-left: 20px;
  
}

.btn {
  order: 2;
  margin-top: 15px;
}
.textbox11 {
height: 70px;
margin-top: 230px;
}
.textbox12 {
  height: 164px;
width: $width;

}
.btn2{
  width: 100%;
  margin-top: 0px;
}
}



/*----------BOX2_---------*/

.box2{
  width: $width;
  justify-content: center;
  margin-top: 160px;
  margin-bottom: 108px;
}
.box21{
  align-self: center;

}
.ic {
  height:36 px;
width: 36px;
}
.textbox22{
  width: 445px;
  color: #6F7CB2;
  font-size: 16px;
}
.box22 {
  width: 200px;
font-size: 12px;
color: #5D6970;
margin-top: 80px;
}
h5{
  color: #091133;
  font-size: 16px;
  margin-top: 16px;
}
.box220 {
 
}
.img2 {
  margin-left: 60px;
}

.img3 {
  height: 316px;
width: 480px;
}

@media screen and (max-width: 768px){
.box2 {
 flex-direction: column-reverse;
    margin-top: 300px;
      width: 100%;
      justify-content: center;
}
.img2 {
  margin-left: 0;
  width: 100%;
  }
.box21{
  width: 100%;
  padding-left: 20px;
}
.textbox22 {
  width: 100%;
}
.box22 {
  margin-top: 20px;
}
}





/*----------BOX3_---------*/
.box3{
  margin-top: 133px;
    width: 100%;
    justify-content: center;
}
.box31 {
  margin-left: 125px;
  margin-top: 30px;
}
.t3 {
  height: 166px;
width: 445px;
}

.img4 {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .box3{
    flex-direction: column;
    margin-top: 0px;
      width: 100%;
      justify-content: center;
  }
  .box31 {
    margin-top: 0;
    margin-left: 0px;
  }
  .img3 {
    width: 100%;
  }
  .t3 {
    width: 100%;
  }
  .box31 {
    padding-left: 20px;
  }
}



/*---------------BOX7---------*/
.box07 {
    background-image: url(https://tetianadanyliv.github.io/photo/styles.css/Rectangle.svg);
    width: 100%;
    height: 800px;
    padding-left: 0;
    padding-top: 230px;
}

.box7 {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.box71 {
  justify-content: space-between;
  width: 100%;
  margin-top: -40px;
}
.textbox7 {
  margin-top: -90px;
    padding-bottom: 20px;
}
.textbox71 {
  height: 78px;
width: 600px;
color: #6F7CB2;
}
.textbox72 {
    margin-top: 50px;
}
.footer {
  width: 100%;
  height: 216px;
  margin-top: -200px;
  background-color: #E7ECFF;
  justify-content: space-evenly;
}

.img5 {
  width: 100%;
  display: flex;
  position: absolute;
  margin-top: -50px;
  flex-direction: column;
}
.box72 {
  width: 200px;
}
.cont71 {
    width: 13%;
}

@media screen and (max-width: 768px) {
  .box7 {
    margin-top: -80px;
    width: 100%
  }
  .textbox7 {
    width: 100%;
    margin-top: 1px;
    padding-bottom: 0px;
    text-align: center;
    margin-left: 50px;
  }
  .textbox71 {
    height: 78px;
  width: 100%;
   color: #6F7CB2;
   text-align: center;
   font-size: 14px;
   padding: 0 20px;
}
.img4 {
  width: 100%;
}
.img5 {
    margin-top: -70px;
}
.price {
    margin-top: 30px;
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box711 {
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}
.contf{
    margin-top: -80px;
}
.cont71{
width: 50%;
    margin-top: -20px;
    margin-bottom: 10px;
}
}