$font-family: 'Roboto';
$width: 100%;
$sizes: (
  "1": 8px;
  "2": 12px;
  "3": 14px;
  "4": 40px;
)

.body {
  background-color: #505F98 !important;
}

.header{
  width: $width;
}
.cont1{
  width: 13%;
  font-weight: 400px;
font-size: 14px;
}
.link1{
  color: #505F98;
  font-family: $font-family;
}
.link2{
  color: #37447E;
  font-family: $font-family;
font-style: normal;
font-weight: 900;
font-size: 26px;
}

.box1 {
  width: 100%;
  margin-top: -1150px;
}


@media screen and all { (max-width: 768px)
  .link2 {
    font-size: 18px;
  }
.box1 {
  flex-direction: column;
}
.part2 {
  display: none;
}


}
.part1 {
  width: 540px;
  margin-left: -600px;
    margin-top: 200px;
 
}
.btn {
background: #111B47;
border-radius: 2px;
height: 26px;
width: 160px;
color: white;
font-size: 12px;
font-family: $font-family;
text-decoration:none;
}
 
.btnw {
    background: #f0f0f0bb;;
    font-size: 12px;
    text-align: center;
    color: #091133;
    border: 2px solid #091133;
border-radius: 2px;
  }
.img1 {
  height: 1161px;
width: 1490px;
left: 417px;
top: -49px;
border-radius: 0px;
}
.textbox11 {
  height: 132px;
  margin-top: 150px

}
.textbox12 {
  height: 164px;
width: 450px;
}
.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
}
.part2 {
  display: flex;
    position: absolute;
    justify-content: center;
}

.box2{
  width: 100%;
  margin: 0 auto;
  margin-top: 160px;
  margin-bottom: 108px;
  margin-left: -250px;
}
.box21{
  align-self: center;
}
.ic {
  height:36 px;
width: 36px;
}
.textbox22{
  width: 445px;
  color: #6F7CB2;
  font-size: 16px;
}
.box22 {
  width: 200px;
font-size: 12px;
color: #5D6970;
margin-top: 80px;
}
h5{
  color: #091133;
  font-size: 16px;
  margin-top: 16px;
}
.box220 {
 
}
.img2 {
  margin-top: -300px;
}

.img3 {
  height: 316px;
width: 480px;
}

.box3{
  margin-top: 133px;
    width: 100%;
    justify-content: center;
}
.box31 {
  margin-left: 125px;
  margin-top: 30px;
}
.t3 {
  height: 166px;
width: 445px;
}

.img4 {
  width: 100%;
}

.box7 {
  width: 100%;
  margin-top: -650px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box71 {
  justify-content: space-between;
  width: 100%;
  margin-top: -30px;
}
.textbox7 {
  margin-top: -30px;
    padding-bottom: 20px;
}
.textbox71 {
  height: 78px;
width: 600px;
color: #6F7CB2;
}
.footer {
  width: 100%;
  height: 216px;
  margin-top: -200px;
  background-color: #E7ECFF;;
}

.img5 {
  width: 100%;
  display: flex;
  position: absolute;
  margin-top: -50px;
  flex-direction: column;
}
.box72 {
  width: 200px;
}